<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Speech Recognition in Python</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}"/>
</head>
<body> <!--body tag-->
<div id= "speechContainer">
    <h1> Upload New File </h1> <!--this is the title of the web page-->
    <form method = "post" enctype="multipart/form-data">
        <input type = "file" name = "file"/> <!--this adds the choose file option-->
        <br>
        <input type = "submit" id = "submitButton" value = "Transcribe"/> <!--this adds the submit button after
        the file is chosen (which is titled "Transcribe")-->
    </form>
    <!--adding a condition to show this div tag (so that the transcript header only shows if a proper file is chosen-->
    {% if transcript != "" %}
    <div id = "speechTranscriptContainer">
        <h1> Transcript </h1>
        <p id = "speechText"> {{transcript}}</p>

    </div>
    {% endif %}
    <!--code to print the speech-to-text on the Flask web application-->

</div> <!--#div tag that specifies our speech container-->
</body>
</html>

<!--the <> symbols indicate a tag, which come in pairs-->
<!--a pair is similar to {} in C++-->
<!--we know that a tag has closed because there is
another tag that has the same name except that it
starts with /-->
<!--to add a comment in html code, you don't use # -->